h, h1, h2, h3, h4, h5, h6, th, tr, td, p, ul {
    color: white;
    font-family: "Poppins", sans-serif;
}

pre {
    font-size: 16px;
}

/* make table border white 0.5 */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 0.5px solid rgb(156, 156, 156);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1b1b1b;
}

tr:nth-child(even) {
    background-color: #1b1b1b;
}

tr:nth-child(odd) {
    background-color: #1b1b1b;
}

tr:hover {
    background-color: #404040;
}

p code {
    background-color: #484848;
    border-radius: 4px;
    padding: 3px 5px;
}

#rooter {
    position: relative;
    flex: 1;
    max-width: 900px
}

#menu-shadow {
    display: flex;
    flex:1;
    min-width: 270px;
    max-width: 270px;
}

.menu {
    position:absolute;
    top:0;
    left:0;
    z-index: 100;
    
    flex:1;
    flex-direction: column;

    height: 100vh;
    min-width: 270px;
    max-width: 270px;
    
    overflow-y: auto;
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    background-color: #1b1b1b;
}

#menu-top {
    display:none;
}

#root {
    flex: 1; 
    padding: 20px;
}

.menu h2 {
    margin-top: 30px;
    padding: 10px;
    line-height: 32px;
    font-size: 24px;
}

.menu .pile {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 32px;
    cursor: pointer;
    border-radius: 5px;
    color: wheat;
}

.menu .submenu {
    display: none;
}

.menu .active-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 139px);
    background-color: #1b1b1b;
    overflow-y: hidden;
}

.menu .pile:hover {
    background-color: #404040;
}

.menu .sparator {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dfdfdf;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

/* animate when transition from none to block sliding from left to right */
.menu .active-submenu {
    display: block;
    position: absolute;
    background-color: #1b1b1b;
    animation: slide 0.5s;
}

@keyframes slide {
    from {
        left: -270px;
    }
    to {
        left: 0;
    }
}

.menu .inactive-submenu {
    display: none;
    animation: slide-back 0.5s;
}

@keyframes slide-back {
    from {
        left: 0;
    }

    to {
        left: -270px;
    }
}


/* screen size medium */
@media (max-width: 768px) {
    #menu-shadow {
        display:none;
    }

    #menu h2 {
        display:none;
    }

    .menu {
        position: absolute;
        top: 52px;
        left:-500px;
        z-index: 1000;
    }

    .menu.active {
        left:0px;
        animation: slide-menu-in 0.5s;
    }

    @keyframes slide-menu-in {
        from {
            left: -500px;
        }
        to {
            left: 0;
        }
    }

    #menu-top {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        background-color: #1b1b1b;
    }

    #menu-top .menu-top-left {
        flex: 1;
        max-width: 64px;
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu-top-left #menu-button {
        width: 32px; 
        height: 32px; 
        filter: brightness(65%);
        cursor: pointer;
    }

    .menu-top-left #menu-button:hover {
        filter: brightness(100%);
    }

    #menu-top .menu-top-right {
        flex: 1;
        justify-content:center;
        align-items: center;
    }

    .menu-top-right h2 {
        font-size: 18px;
    }
}