* {
    color: white;
    font-family: "Poppins", sans-serif;
}

/* make table border white 0.5 */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 0.5px solid rgb(156, 156, 156);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1b1b1b;
}

tr:nth-child(even) {
    background-color: #1b1b1b;
}

tr:nth-child(odd) {
    background-color: #1b1b1b;
}

tr:hover {
    background-color: #404040;
}

p code {
    background-color: #484848;
    border-radius: 4px;
    padding: 3px 5px;
}


#menu {
    max-width: 270px; 
    overflow-y: 
    auto;height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    h2 {
        margin-top: 30px;
        padding: 10px;
    }

    .pile {
        display: flex;
        align-items: center;
        padding-left: 10px;
        height: 32px;
        cursor: pointer;
        border-radius: 5px;
        color: wheat;
    }

    .pile:hover {
        background-color: #404040;
    }

    .sparator {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #dfdfdf;
        height: 2px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* screen size medium */
@media (max-width: 768px) {
    #menu {
        display: block;
        position: absolute;
        background-color: #1b1b1b;
        border-right: 2px solid #dfdfdf;
    }
}